@import './variables.module.css';

.chatContainer {
	position: fixed;
	bottom: var(--spacing-xl);
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	max-width: 600px;
	z-index: var(--z-index-dropdown);
}

.message {
	background-color: var(--color-background-medium);
	color: var(--color-text-primary);
	padding: var(--spacing-md) var(--spacing-lg);
	margin-bottom: var(--spacing-sm);
	font-size: var(--font-size-sm);
	transition: var(--transition-medium);
}

.playerName {
	font-weight: bold;
	color: var(--color-accent-green);
}

.inputContainer {
	position: fixed;
	bottom: var(--spacing-xl);
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	max-width: 600px;
	z-index: var(--z-index-dropdown);
}

.input {
	width: 100%;
	padding: var(--spacing-md) var(--spacing-lg);
	background-color: var(--color-background-medium);
	color: var(--color-text-primary);
	font-size: var(--font-size-sm);
	transition: var(--transition-fast);
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input:focus {
	outline: none;
}

.input::selection {
	background-color: var(--color-accent-primary);
	color: white;
}

.input::-moz-selection {
	background-color: var(--color-accent-primary);
	color: white;
}

.input::placeholder {
	color: rgba(255, 255, 255, 0.5);
} 